* {
    flex-direction: column;
    justify-content: center;
  }
  
  body {
           margin: auto;
          max-width: 100%;
          min-height: 100vh;
          background-color: #1F1F1F;
          justify-content: center;
          display: block;
  
  
  }
  
  
  .links {
      text-align: center;
      color: white;
  }
  
  .link {
    font-size: 20px;
    
  }
  
  a {
      text-decoration: none;
      color: white;
      cursor: pointer;
  
  }
  
  h1 {
      text-align: center;
      color: white;
  }
  
  
  hr {
      width: 100%;
      max-width: 650px;
  
  }
  
  
  
  .text {
    text-align: center;
    color: white;
  }
  
  
  
    
  .for_text {
    text-align: center;
    border: 2px solid  white;
    border-radius: 10px;
    height: auto;
    width: 60%;
    margin: 50px 350px
  
  }
  
   p {
    color: rgb(185, 185, 185);
    font-size: 20px;
  }
  
  
  
  .hui {
    width: 300px;
    max-width: 650px;
    color: white;
  }
  
  
  .pct {
    width: 700px;
    height: 400px;
    margin: 20px  600px;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
  }
  
  
  .footer {
    display: block;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #262626;
  
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  .footerText {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
  }
  
  
  .nav__title {
    text-align: center;
    color: white;
  }
  
  
  .gif {
    margin: 0 750px;
    width: 300px;
    height: 200px;
    border: 1px solid;
  }
  
  
  
  
  .container {
    display: block;
    justify-content: center;
    margin: 10px 750px;
    width: 400px;
    height: 200px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 12px 16px;
   
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  
  @media screen and (max-width:1920px) {
    * {
      flex-direction: column;
      justify-content: center;
    }
    
    body {
             margin: auto;
            max-width: 100%;
            min-height: 100vh;
            background-color: #1F1F1F;
            justify-content: center;
    
    
    }
    
    
    .links {
        text-align: center;
        color: white;
    
     
    }
    
    .link {
      font-size: 20px;
      
    }
    
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    
    }
    
    h1 {
        text-align: center;
        color: white;
    }
    
    
    hr {
        width: 100%;
        max-width: 650px;
    
    }
    
    
    
    .text {
      text-align: center;
      color: white;
    }
    
    
    
      
    .for_text {
      text-align: center;
      border: 2px solid  white;
      border-radius: 10px;
      height: auto;
      width: 60%;
      margin: 50px 350px
    
    }
    
     p {
      color: rgb(185, 185, 185);
      font-size: 20px;
    }
    
    
    
    .hui {
      width: 300px;
      max-width: 650px;
      color: white;
    }
    
    
    .pct {
      width: 700px;
      height: 400px;
      margin: 20px  600px;
      border: 2px solid white;
      border-radius: 10px;
      justify-content: center;
    }
    
    
    .footer {
      display: block;
      flex-flow: row wrap;
      padding: 30px 30px 20px 30px;
      color: #2f2f2f;
      background-color: #262626;
    
    }
    
    .footer > * {
      flex:  1 100%;
    }
    
    .footer__addr {
      margin-right: 1.25em;
      margin-bottom: 2em;
    }
    
    .footer__logo {
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      text-transform: lowercase;
      font-size: 1.5rem;
    }
    
    .footer ul {
      list-style: none;
      padding-left: 0;
    }
    
    
    .footerText {
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      text-align: center;
    }
    
    
    .nav__title {
      text-align: center;
      color: white;
    }
    
    
    .gif {
      margin: 0 750px;
      width: 300px;
      height: 200px;
      border: 1px solid;
    }
    
    
    
    
    .container {
      display: block;
      justify-content: center;
      margin: 10px 750px;
      width: 400px;
      height: 200px;
      
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropbtn {
      background-color: #262626;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
    
    
    .dropdown-content {
      display: none;
      min-width: 160px;
      z-index: 1;
      background-color: #f1f1f1;
      padding: 12px 16px;
     
    
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
     
    
     
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
  }
  
  
  @media screen and (max-width:425px)  {
     * {
      justify-content: center;
      flex-direction: column;
     }
  
     body {
      margin: auto;
     max-width: 425px;
     min-height: 100vh;
     background-color: #1F1F1F;
  }
  
  .links {
    text-align: center;
    color: white;
    font-size: auto;
  }
  
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  
  hr {
    width: 100%;
    max-width: 300px;
  
  }
  
  hr.hui {
    width: 100%;
    max-width: 200px;
  }
  
  
  p.for_text {
    margin: 30px auto;
    width: auto;
    height: auto;
  }
  
  .pct {
    margin: 0 auto;
    height: auto;
    width:100%;
  }
  
  .container {
    display: block;
    justify-content: center;
    margin: 20px 70px;
    width: 100%;
    height: 300px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
  }
  
  .dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 12px 16px;
   
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .gif {
    height: auto;
    width: 200px;
    margin: 0 80px;
  }
  
  
  
  }
  
  @media screen and (max-width:375px) {
    * {
      justify-content: center;
      flex-direction: column;
     }
  
     body {
      margin: auto;
     max-width: 375px;
     min-height: 100vh;
     background-color: #1F1F1F;
  }
  
  .links {
    text-align: center;
    color: white;
    font-size: auto;
  }
  
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  
  hr {
    width: 100%;
    max-width: 300px;
  
  }
  
  hr.hui {
    width: 100%;
    max-width: 200px;
  }
  
  
  p.for_text {
    margin: 30px auto;
    width: auto;
    height: auto;
  }
  
  .pct {
    margin: 0 auto;
    height: auto;
    width:100%;
  }
  
  .container {
    display: block;
    justify-content: center;
    margin: 20px 70px;
    width: 100%;
    height: 300px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 250px;
  }
  
  .dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 12px 16px;
   
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  
      
    .footer {
      display: block;
      flex-flow: row wrap;
      padding: 30px 30px 20px 30px;
      color: #2f2f2f;
      background-color: #262626;
    
    }
    
    .footer > * {
      flex:  1 100%;
    }
    
    .footer__addr {
      margin-right: 1.25em;
      margin-bottom: 2em;
    }
    
    .footer__logo {
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      text-transform: lowercase;
      font-size: 1.5rem;
    }
    
    .footer ul {
      list-style: none;
      padding-left: 0;
    }
    
    
    .footerText {
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      text-align: center;
    }
    
    
    .nav__title {
      text-align: center;
      color: white;
    }
   
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .gif {
    margin: 0 50px;
    width: 200px;
    height: auto;
  }
  
    
  .footer {
    display: block;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #262626;
  
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  .footerText {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
  }
  
  
  .nav__title {
    text-align: center;
    color: white;
  }
  
  }
  
  
  @media screen and (max-width:320px) {
    * {
      justify-content: center;
      flex-direction: column;
     }
  
     body {
      margin: auto;
     max-width: 320px;
     min-height: 100vh;
     background-color: #1F1F1F;
  }
  
  .links {
    text-align: center;
    color: white;
    font-size: auto;
  }
  
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  
  hr {
    width: 100%;
    max-width: 300px;
  
  }
  
  hr.hui {
    width: 100%;
    max-width: 200px;
  }
  
  
  p.for_text {
    margin: 30px auto;
    width: auto;
    height: auto;
  }
  
  .pct {
    margin: 0 auto;
    height: auto;
    width:100%;
  }
  
  .container {
    display: block;
    justify-content: center;
    margin: 20px 70px;
    width: 100%;
    height: 300px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 12px 16px;
   
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  
      
    .footer {
      display: block;
      flex-flow: row wrap;
      padding: 30px 30px 20px 30px;
      color: #2f2f2f;
      background-color: #262626;
    
    }
    
    .footer > * {
      flex:  1 100%;
    }
    
    .footer__addr {
      margin-right: 1.25em;
      margin-bottom: 2em;
    }
    
    .footer__logo {
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      text-transform: lowercase;
      font-size: 1.5rem;
    }
    
    .footer ul {
      list-style: none;
      padding-left: 0;
    }
    
    
    .footerText {
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      text-align: center;
    }
    
    
    .nav__title {
      text-align: center;
      color: white;
    }
   
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .gif {
    margin: 0 30px;
    width: 200px;
    height: auto;
  }
  
    
  .footer {
    display: block;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #262626;
  
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  .footerText {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
  }
  
  
  .nav__title {
    text-align: center;
    color: white;
  }
  
  }
  
  